.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#docView {
    display: none;
}

#iframe-box {
    aspect-ratio: 8.5 / 11;
}

iframe {
    width: 100%;
    height: 100%;
}

#progress {
    display:none;
}

.column {
    min-width: 300px;
}

.navbar-item img {
    height:60px;
    max-height: fit-content;
    max-width: fit-content;
}

.navbar-burger {
    height: 76px;
}

#EVERYTHING{
    margin-top: 80px;
}

.button.is-danger {
    background-color: #be0000;
}

.button.is-danger.is-hovered, .button.is-danger:hover {
    background-color: #a00000;
}

.sectionAnchor {
    position: relative;
    padding-top: 100px;
    margin-top: -100px;
}
